{% extends 'base.html' %} 
<!-- {% import 'macros.html' as macro %}  -->

{% block styles %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href="static/images/favicon.ico"> -->
    <style>
    @import url('https://fonts.google.com/specimen/Courier+Prime?sidebar.open=true&selection.family=Courier+Prime:wght@700');
      #sidebar{
        width: 800px;
        height:100%;
        background-color:#7dcea0;
        position:absolute;
        overflow:auto;
        font-family: 'Bungee', cursive;
        margin-left: 500px;
       
      }
      #sidebar p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25px;
      }
      #items{
        margin:auto;
        font-family: 'Chewy', cursive;
      }
      #items:hover{
        background-color: white;
      }
      a:link{
        text-decoration: none;
      }
      .col{
        height:250px;
        width: 250px;
      }
      img{
        width:100%;
        height:230px;
      }
      img:hover{
        background-color: white;
        transition: 0.5s;
        opacity: 0.3;
        cursor: pointer;
      }
    </style>
{% endblock %}
{% block content %}
<!-- <div class="w3-sidebar w3-light-grey w3-bar-block" id="sidebar"> -->
  <!-- <p class="well">Select a Category Below</p> -->
  
  {% for pitch in pitches[::-1]%}
<div class="container">
    <div class="panel bg-light text-center style="style="box-shadow: 5px 5px 5px 5px #CEEDEC; padding:10px;">
        <p>"{{pitch.actual_pitch}}"</p>
        <p class="subtext"> Posted: {{pitch.date_posted.strftime("%c")}}</p>
        {{pitch.category_id}}
        <!-- <a class= "btn btn-success btn-sm" style="background-color: #7F7EFF;">Upvote </a>
        <a class= "btn btn-info btn-sm" style="background-color: #CC8B8C;">Downvote </a> -->
    </div>
</div>
{% endfor %}
    <!-- {{ macro.displayCategoryList(category_List) }} -->
</div>
<!-- <div class="well" style="margin-left:20%; margin-right:10%; background-color:#1A5276">
  <div class="row">
    <div class="col-md-6"><img src="app/static/images/flirting.jpg" alt=""></div>
    <div class="col-md-6"><img src="app/static/images/humour.jpg" alt=""></div>
  </div>
  <div class="row">
    <div class="col-md-6"><img src="app/static/images/interview.jpg" alt=""></div>
    <div class="col-md-6"><img src="app/static/images/salespitch.jpg" alt=""></div>
  </div>
</div> -->
{% endblock %}
